.form {
    position: relative;
    background: #FFF;
    max-width: 400px;
    min-width: 400px;
    margin: 0 auto 100px;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
}
.form .logo {
    text-align: center;
    height: 244px;
    margin-top: -.6em;
    margin-bottom: 1.5em;
    background: #F7F7F7;
    border-radius: 5px;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
.form .logo:hover {
    opacity: .7;
    
}
.form .logo img {
    width: 70%;
    margin-top: 15px;
    border-radius: inherit;
}
.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0px solid rgba(233,66,77,0.4);
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.form input:focus {
    box-shadow: 0 0 5px rgba(233,66,77,0.7);
    border: 1px solid rgba(233,66,77,0.4);
    background: #fdfdfd;
    padding: 14px;
}
.form button {
    background: #E9424D;
    padding: 15px;
    outline: 0;
    border: 0;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; 
}
.form button:hover {
    background: #dd3c47;
    border-radius: 5px;
}
/*
    .form .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
    }
    .form .message a {
      color: #EF3B3A;
      text-decoration: none;
    }
    .form .register-form {
      display: none;
    }
*/